<div class="container">
  <div class="game-box" style="display: flex; flex-direction: column">
    <ng-container *ngIf="!GameStart; else gameRunning">
      <div class="btn">
        <button
          type="button"
          class="btn btn-success"
          (click)="startAndStopGame()"
        >
          Start
        </button>
      </div>
    </ng-container>

    <ng-template #gameRunning>
      <div>
        <p>The game is running!</p>

        <div class="add-word-box" *ngIf="words.length < 5">
          <div class="mb-3 username-box">
            <label for="UsernameInput" class="form-label fw">"Word"</label>
            <input
              [(ngModel)]="getWord!"
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="connex"
            />
          </div>

          <button
            (click)="logicGame(getWord!)"
            type="button"
            class="btn btn-success"
          >
            Add
          </button>
          <!-- <button type="button" class="btn btn-success" (click)="setVIP()">
            (dev)set vip
          </button> -->
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Word</th>
              <th>Score</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="IsVip; else vip">
              <tr *ngFor="let item of words; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.word }}</td>
                <td>{{ item.score }}</td>
                <td>{{ item.date | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                <td>
                  <button
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#Edit"
                    (click)="EditPopup(item.word, item.wordId)"
                  >
                    Edit
                  </button>

                  <button
                    class="btn btn-danger btn-sm"
                    (click)="deleteWord(item)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </ng-container>

            <ng-template #vip>
              <tr *ngFor="let item of words; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ star(item.word.length) }}</td>
                <td>{{ star(item.score.toString().length) }}</td>
                <td>{{ item.date | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="deleteWord(item)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>

        <!-- <div class="card" *ngFor="let item of words; let i = index" >
          <h4>{{i + 1}}</h4>
          <h4>{{item.word}}</h4>

        </div> -->

        <h2>Total Score : {{ total_score }}</h2>

        <button
          type="button"
          class="btn btn-danger"
          (click)="startAndStopGame()"
        >
          Stop
        </button>
      </div>
    </ng-template>
  </div>
</div>

<!-- history box -->
<div
  class="history-box"
  style="
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  "
>
  <div class="left">
    <div
      class="header"
      style="display: flex; flex-direction: column; align-items: center"
    >
      TopPlayer
    </div>

    <div class="card-group" *ngFor="let item of topFivePlayer; index as i">
      <div class="card" style="margin: 5px">
        <div class="card-header">
          {{ item.username }} ( {{ item.isVip ? "VIP User" : "Normal User" }} )
        </div>
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p>Total Score : {{ item.score }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">Rank {{ i + 1 }}</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div
      class="header"
      style="display: flex; flex-direction: column; align-items: center"
    >
      My History
    </div>
    <div class="card-group" *ngFor="let item of myHistory; index as i">
      <div class="card" style="margin: 5px">
        <div class="card-header">
          {{ item.createTime | date : "dd/MM/yyyy HH:mm:ss" }} ( Last Update )
        </div>
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p>Word : {{ item.word }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Score : {{ item.score }}
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Editmodel -->
<!-- Modal -->
<div
  class="modal fade"
  id="Edit"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="EditLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditLabel">Word Editing</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="EditInput" class="form-label">Edit</label>
          <input
            [(ngModel)]="editWord"
            type="email"
            class="form-control"
            id="EditInput"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          (click)="submitEdit()"
        >
          Understood
        </button>
      </div>
    </div>
  </div>
</div>
