<div class="container">
  <div class="game-box" style="display: flex; flex-direction: column">
    <ng-container *ngIf="!GameStart; else gameRunning">
      <div class="btn">
        <button
          type="button"
          class="btn btn-success"
          (click)="startAndStopGame()"
        >
          Start
        </button>
      </div>
    </ng-container>

    <ng-template #gameRunning>
      <div>
        <p>The game is running!</p>

        <div class="add-word-box" *ngIf="words.length < 5">
          <div class="mb-3 username-box">
            <label for="UsernameInput" class="form-label fw">"Word"</label>
            <input
              [(ngModel)]="getWord!"
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="connex"
            />
          </div>

          <button
            (click)="logicGame(getWord!)"
            type="button"
            class="btn btn-success"
          >
            Add
          </button>
          <!-- <button type="button" class="btn btn-success" (click)="setVIP()">
            (dev)set vip
          </button> -->
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Word</th>
              <th>Score</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="IsVip; else vip">
              <tr *ngFor="let item of words; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.word }}</td>
                <td>{{ item.score }}</td>
                <td>{{ item.date | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                <td>
                  <button
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#Edit"
                    (click)="EditPopup(item.word, item.wordId)"
                  >
                    Edit
                  </button>

                  <button
                    class="btn btn-danger btn-sm"
                    (click)="deleteWord(item)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </ng-container>

            <ng-template #vip>
              <tr *ngFor="let item of words; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ star(item.word.length) }}</td>
                <td>{{ star(item.score.toString().length) }}</td>
                <td>{{ item.date | date : "dd/MM/yyyy HH:mm:ss" }}</td>
                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="deleteWord(item)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>

        <!-- <div class="card" *ngFor="let item of words; let i = index" >
          <h4>{{i + 1}}</h4>
          <h4>{{item.word}}</h4>

        </div> -->

        <h2>Total Score : {{ total_score }}</h2>

        <button
          type="button"
          class="btn btn-danger"
          (click)="startAndStopGame()"
        >
          Stop
        </button>
      </div>
    </ng-template>
  </div>
</div>

<!-- history box -->
<div
  class="history-box"
  style="
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  "
>
  <div class="left">
    <div
      class="header"
      style="display: flex; flex-direction: column; align-items: center"
    >
      TopPlayer
    </div>

    <div class="card-group" *ngFor="let item of topFivePlayer; index as i">
      <div class="card" style="margin: 5px">
        <div class="card-header">
          {{ item.username }} ( {{ item.isVip ? "VIP User" : "Normal User" }} )
        </div>
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p>Total Score : {{ item.score }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">Rank {{ i + 1 }}</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div
      class="header"
      style="display: flex; flex-direction: column; align-items: center"
    >
      My History
    </div>
    <div class="card-group" *ngFor="let item of myHistory; index as i">
      <div class="card" style="margin: 5px">
        <div class="card-header">
          {{ item.updateTime | date : "dd/MM/yyyy HH:mm:ss" }} ( Last Update )
        </div>
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p>Word : {{ item.word }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Score : {{ item.score }}
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Editmodel -->
<!-- Modal -->
<div
  class="modal fade"
  id="Edit"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="EditLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditLabel">Word Editing</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="EditInput" class="form-label">Edit</label>
          <input
            [(ngModel)]="editWord"
            type="email"
            class="form-control"
            id="EditInput"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          (click)="submitEdit()"
        >
          Understood
        </button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="IsVip; else grid_vip">
  <div class="container">
    <dx-data-grid id="gridContainer" [dataSource]="words" [showBorders]="true">
      <dxo-editing
        mode="row"
        [allowAdding]="false"
        [allowUpdating]="false"
        [allowDeleting]="false"
      >
      </dxo-editing>
      <dxo-editing mode="row"> </dxo-editing>
      <dxi-column dataField="word" [width]="160" [caption]="'คำ'"></dxi-column>

      <dxi-column
        dataField="score"
        [width]="80"
        [caption]="'คะแนน'"
      ></dxi-column>

      <dxi-column dataField="date" caption="วันที่">
        <ng-template dxTemplate="cell" let-data>
          {{ data.value | date : "dd/MM/yyyy" }}
        </ng-template>
      </dxi-column>

      <dxi-column
        [caption]="'#'"
        [width]="240"
        cellTemplate="cellTemplateButton"
      ></dxi-column>

      <div *dxTemplate="let data of 'cellTemplateButton'">
        <div class="btn">
          <dx-button
            stylingMode="contained"
            text="Editsss"
            type="success"
            [width]="80"
          >
          </dx-button>
        </div>
        <div class="btn">
          <dx-button
            stylingMode="contained"
            text="Delete"
            type="danger"
            [width]="80"
          >
          </dx-button>
        </div>
      </div>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-search-panel [visible]="true"></dxo-search-panel>
    </dx-data-grid>
  </div>
</ng-container>

<ng-template #grid_vip>
  <div class="container">
    <dx-data-grid id="gridContainer" [dataSource]="words" [showBorders]="true">
      <dxo-editing
        mode="row"
        [allowAdding]="false"
        [allowUpdating]="false"
        [allowDeleting]="false"
      >
      </dxo-editing>
      <dxo-editing mode="row"> </dxo-editing>

      <dxi-column
        dataField="word"
        caption="คำ"
        [width]="160"
        cellTemplate="wordTemplate"
      >
      </dxi-column>

      <div class="" *dxTemplate="let cell of 'wordTemplate'">
        {{ star(cell.value.length) }}
      </div>

      <!-- <ng-template *dxTemplate="let cell of 'wordTemplate'" let-cellData>
      </ng-template> -->

      <dxi-column
        dataField="score"
        [width]="80"
        [caption]="'คะแนน'"
        cellTemplate="scoreTemplate"
      ></dxi-column>
      <div class="" *dxTemplate="let cell of 'scoreTemplate'">
        {{ star(cell.value.toString().length) }}
      </div>

      <dxi-column dataField="date" caption="วันที่">
        <ng-template dxTemplate="cell" let-data>
          {{ data.value | date : "dd/MM/yyyy" }}
        </ng-template>
      </dxi-column>

      <dxi-column
        [caption]="'#'"
        [width]="140"
        cellTemplate="cellTemplateButton"
      ></dxi-column>

      <div *dxTemplate="let data of 'cellTemplateButton'">
        <div class="btn">
          <dx-button (onClick)="deleteWord(data.data)"
            stylingMode="contained"
            text="Delete"
            type="danger"
            [width]="80"
          >
          </dx-button>
        </div>
      </div>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-search-panel [visible]="true"></dxo-search-panel>
    </dx-data-grid>
  </div>
</ng-template>

<!--
<div class="container">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="productData"
    [showBorders]="true"
  >
    <dxo-editing
      mode="row"
      [allowAdding]="false"
      [allowUpdating]="false"
      [allowDeleting]="false"
    >
    </dxo-editing>
    <dxo-editing mode="row"> </dxo-editing>
    <dxi-column
      [caption]="'ข้อมูลการยืม'"
      [width]="90"
      cellTemplate="cellTemplateDelte"
    ></dxi-column>

    <div *dxTemplate="let data of 'cellTemplateDelte'">
      <button
        cButton
        color="primary"
        (click)="getProductCount(data.values)"
        class="white-text"
        style="margin-right: 10px"
      >
        ข้อมูล
      </button>
    </div>
    <dxi-column dataField="PRODUCT_ID" [width]="50" [caption]="'ID'">
    </dxi-column>
    <dxi-column
      dataField="PRODUCT_NAME"
      [width]="160"
      [caption]="'ชื่อ'"
    ></dxi-column>
    <dxi-column dataField="PRODUCT_BAND" [caption]="'ยี่ห้อ'"></dxi-column>
    <dxi-column
      dataField="PRODUCT_SERIALNUMBER"
      [caption]="'Serial Numbers'"
    ></dxi-column>
    <dxi-column
      dataField="PRODUCT_EQUIPMENTNUMBER"
      [caption]="'รหัสครุภัณฑ์'"
    ></dxi-column>

    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
  </dx-data-grid>
</div>
-->

<!-- <dx-popup
  [width]="1400"
  [height]="600"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="popupDetail"
  title="ข้อมูลการยืม ครุภัณฑ์"
>
  <h1>ถูกยืมไปเเล้ว : {{count}} ครั้ง</h1>

  <div class="info-card">
    <c-col lg="6" xs="12">
      <c-widget-stat-f
        [title]="'จำนวนที่ยืมไปแล้ว'"
        class="mb-3"
        color="primary"
        padding
        value="{{count}}"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="icons.cilCalendarCheck" size="xl" width="24"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>
  </div>  -->
